{{define "footer"}}
<br>
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Dieses Werk ist lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Namensnennung 4.0 International Lizenz</a> - Unterstützt durch <a href="http://www.webprogrammieren.de:3000/Thorsten/webprogrammieren.de/releases">webprogrammieren.de</a>

</body>
</html>
{{end}}