{{define "header"}}
<!DOCTYPE html>
<html lang="de">
        <link rel="stylesheet" type="text/css" href="/public/index.css" />
  <head>
    <meta charset="utf-8">
        <title>{{.Titel}}</title>
    </head>
<body>
<h1>Webprogrammieren.de</h1>
<a href="/Admin/Ausloggen/" > Ausloggen</a><br><br>
<a href="/Admin/">Startseite</a> - <a href="Impressum">Impressum</a> - <a href="Datenschutzerklärung">Datenschutzerklärung</a>
<h2>{{.Titel}}</h2>
{{end}}