{{template "header" .}}
<script src="/static/js/ckeditor.js"></script>
<form  action="" method="POST">
    
<textarea  name="Inhalt" id="editor">
{{.Inhalt}}
</textarea>
<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
<input type="submit" value="Senden">
</form>

{{template "footer" .}}